.pageWrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.leftSection {
    width: 50%;
    padding: 60px 40px;
    background-color: #fcfaf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    max-width: 400px;
    width: 100%;
}

.input {
    width: 100%;
    padding: 25px 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: #eeecd9;

    &:focus {
        outline: none;
        border: 1px solid #ccc;
    }
}

.privacy {
    a {
        text-decoration: none;
        color: #a5a092;
    }
}

.heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.signUpButton {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.rightSection {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.dialog {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fbf9f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.dialogHeading {
    font-size: 22px;
    margin-bottom: 3rem;
}

.detailsItemContainer {
    .detailsItem {
        margin-bottom: 10px;
        font-size: 15px;
        text-align: left;
        display: flex;
        align-items: center;

        strong {
            font-size: 1.3rem;
            margin-left: 0.3rem;
        }

        p {
            margin-left: 1rem;
        }
    }
}

.inputField {
    width: 100%;
    padding: 15px 16px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    background-color: #eeecd9;
}

.mapImg {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
}

.continueButton {
    width: 30%;
    padding: 12px;
    border-radius: 30px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.editButton {
    width: 30%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-left: 1rem;
    }
}

.saveButton {
    width: 30%;
    border-radius: 30px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-left: 1rem;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    backdrop-filter: blur(5px);
}

.consentCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    p {
        margin-top: 0.5rem;
        text-align: left;
    }
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
