.loginBtn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    background-color: #eeecd9;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 50px 0;

    &:hover {
        background-color: #c8c5b2;
        transition: all 0.3s ease-in-out;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}

.input.error {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 14px;
    margin: 0 0 1rem 0;
    padding-left: 1rem;
}

.forgotPassword {
    display: flex;
    justify-content: flex-end;

    a {
        color: #a5a092;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #a5a092;
            margin-top: 1px;
            margin-left: auto;
            margin-right: auto;
            transition: height 0.3s ease;
        }

        &:hover::after {
            height: 1.5px;
            background-color: #a5a092;
        }
    }
}
